In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

from IPython.display import display # Esta librería es sólo para ver los dataframes bonitos.

In [2]:
# Lista 1
tickers_list_1 = ['AAPL', 'MSFT', 'GOOGL', 'NVDA', 'AMD']

# Lista 2
tickers_list_2 = ['TSLA', 'WMT', 'NKE', 'DIS', 'KO']

In [3]:
# Descargar la información histórica para cada ticker de la lista 1
historical_data_1 = pd.DataFrame()  # DataFrame vacío para almacenar los datos
for ticker in tickers_list_1:
    data = yf.Ticker(ticker).history(period="1y")[['Close']]
    data.columns = [ticker]  # Cambiar el nombre de la columna a ser el ticker
    historical_data_1 = pd.concat([historical_data_1, data], axis=1)

# Descargar la información histórica para cada ticker de la lista 2
historical_data_2 = pd.DataFrame()  # DataFrame vacío para almacenar los datos
for ticker in tickers_list_2:
    data = yf.Ticker(ticker).history(period="1y")[['Close']]
    data.columns = [ticker]  # Cambiar el nombre de la columna a ser el ticker
    historical_data_2 = pd.concat([historical_data_2, data], axis=1)

# Finalmente, ajustamos el índice DateTime para que solo muestre año, mes y día
historical_data_1.index = historical_data_1.index.date
historical_data_2.index = historical_data_2.index.date

In [4]:
# Muestra los primeros datos descargados de ambas listas
print("Datos históricos de la lista 1:\n")
display(historical_data_1.head())

print("\nDatos históricos de la lista 2:\n")
display(historical_data_2.head())

Datos históricos de la lista 1:

                  AAPL        MSFT       GOOGL       NVDA         AMD
2023-10-16  177.810120  330.161774  138.756409  46.081062  106.459999
2023-10-17  176.248108  329.586121  139.374893  43.924709  105.139999
2023-10-18  174.944794  327.650635  137.619232  42.183239  102.169998
2023-10-19  174.566727  328.851624  137.409760  42.088268  102.400002
2023-10-20  171.999863  324.236298  135.265060  41.374481  101.809998

Datos históricos de la lista 2:

                  TSLA        WMT         NKE        DIS         KO
2023-10-16  253.919998  53.020927  100.492851  85.039246  51.827080
2023-10-17  254.850006  53.089993  101.448143  85.525406  52.447880
2023-10-18  242.679993  53.129459  102.196617  84.017303  52.428482
2023-10-19  220.110001  52.876209  101.487541  82.598495  52.719482
2023-10-20  211.990005  52.215134  101.113297  82.003197  52.932880

In [6]:
# Crea un archivo Excel con dos hojas
with pd.ExcelWriter('finanzas.xlsx') as writer: # Ponle un nombre cool a tu equipo!!
    # Exporta el primer DataFrame a la hoja "correlacionados"
    historical_data_1.to_excel(writer, sheet_name='correlacionados')

    # Exporta el segundo DataFrame a la hoja "no correlacionados"
    historical_data_2.to_excel(writer, sheet_name='no correlacionados')

print("Los datos han sido exportados exitosamente al archivo 'Equipo X.xlsx'")

Los datos han sido exportados exitosamente al archivo 'Equipo X.xlsx'

In [7]:
def log_returns(df):
  log_returns = np.log(df/df.shift(1)).dropna()
  return log_returns

In [8]:
def correlcion(df_returns):
  ##calcula y retorna la mat
  correlacion = df_returns.corr
  return correlacion

In [10]:
log_returns_correlated = log_returns(historical_data_1)
log_returns_non_correlated = log_returns(historical_data_2)

In [11]:
log_returns_correlated.head

<bound method NDFrame.head of                 AAPL      MSFT     GOOGL      NVDA       AMD
2023-10-17 -0.008824 -0.001745  0.004447 -0.047925 -0.012477
2023-10-18 -0.007422 -0.005890 -0.012677 -0.040454 -0.028655
2023-10-19 -0.002163  0.003659 -0.001523 -0.002254  0.002249
2023-10-20 -0.014813 -0.014134 -0.015731 -0.017105 -0.005778
2023-10-23  0.000694  0.008079  0.006615  0.037652 -0.017838
...              ...       ...       ...       ...       ...
2024-10-09  0.016560  0.006609 -0.015449 -0.001808 -0.010354
2024-10-10 -0.002181 -0.003888  0.001358  0.016152 -0.040817
2024-10-11 -0.006527  0.001154  0.007131 -0.000074  0.022346
2024-10-14  0.016346  0.006751  0.010482  0.023969 -0.015728
2024-10-15  0.018293 -0.004172  0.004295 -0.043142 -0.044290

[251 rows x 5 columns]>

In [ ]:
def correlcion(df_returns):
  ##calcula y retorna la mat
correlacion = df_returns.corr
return correlacion